<div class="container">

    <div class="row">
        <div class="col-sm-2 offset-sm-2">
            <%= image_tag @profile.candidate_photo, class: "img-circle", size: '175x175'%>
        </div>

        <div class="col-sm-10">
            <h2><%= @profile.name%></h2>
            <h4>Nome Social:</h4>
            <p><%= @profile.social_name%></p>
            <h4>Data de nascimento:</h4>
            <p><%= I18n.localize @profile.birth_date %></p>
        </div>

    </div>

    <div class="row">
        <div class="col-sm-12">
            <h4>Formação:</h4>
            <p><%= @profile.formation%></p>
        </div>

        <div class="col-sm-12">
            <h4>Descrição:</h4>
            <p><%= @profile.description%></p>
        </div>

        <div class="col-sm-12">
            <h4>Experiência:</h4>
            <p><%= @profile.experience%></p>
        </div>
    </div>

     <div class="row">
        <div class="col-sm-12">
           <%= link_to 'Comentários', comments_list_profile_path , class: "btn btn-primary"%>
            
            <% if current_candidate.present?%>
                <%= link_to 'Editar', edit_profile_path(@profile), class: "btn btn-primary"%>
            <% end %>

            <%= link_to 'Voltar', :back , class: "btn btn-primary"%> 
        </div>
    </div>
</div>