<div class="container">

    <% if @job_vacancy.errors.any? %>
        <p>Você deve corrigir os seguintes erros para continuar</p>
        <ul>
            <% @job_vacancy.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
        </ul>
    <% end %>


    <%= form_with model: @job_vacancy, local: true do |form| %>
        
        <div class="row">
            <div class="col-sm-8">
                <div class="form-group">
                    <%= form.label :title%>
                    <%= form.text_field :title, class:"form-control"%>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-8">
                <div class="form-group">
                    <%= form.label :vacancy_description %>
                    <%= form.text_area :vacancy_description, class:"form-control", rows:4%>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-8">
                <div class="form-group">
                    <%= form.label :ability_description %>
                    <%= form.text_area :ability_description, class:"form-control", rows:4%>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-8">
                <div class="form-group">
                    <%= form.label :level%>
                    <%= form.collection_radio_buttons :level, JobVacancy.levels, :first, :first, class:"form-control"%>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <%= form.label :region %>
                    <%= form.text_field :region, class: "form-control"%>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-8">
                <div class="form-group">
                    <p>Faixa Salario:</p>
                    <div class="col-sm-4">
                        <%= form.label :minimum_wage%>
                        <%= form.number_field :minimum_wage, class: "form-control"%>
                    </div>
                    <div class="col-sm-4">
                        <%= form.label :maximum_wage%>
                        <%= form.number_field :maximum_wage, class: "form-control"%>
                    </div>
                </div>
            </div>
        </div>

         <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <%= form.label :limit_date %>
                    <%= form.date_field :limit_date, class: "form-control" %>
                </div>
            </div>
        </div>

        <p>
            <%= form.submit 'Salvar', class: "btn btn-primary"%>
        </p>
    <%end%>



</div>