<div class="container">

    <% if @job_vacancy.errors.any? %>
        <p>Você deve corrigir os seguintes erros para continuar</p>
        <ul>
            <% @job_vacancy.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
        </ul>
    <% end %>


    <%= form_with model: @job_vacancy, local: true do |form| %>
        <p>
            <%= form.label :title%>
            <%= form.text_field :title%>
        </p>
        <p>
            <%= form.label :vacancy_description %>
            <%= form.text_area :vacancy_description, size: '50*5'%>
        </p>
        <p>
            <%= form.label :ability_description %>
            <%= form.text_area :ability_description, size: '50x5'%>
        </p>
        <p>
            <%= form.label :level%>
            <%= form.collection_radio_buttons :level, JobVacancy.levels, :first, :second%>
        </p>
        </p>
        <p>
            <%= form.label :region %>
            <%= form.text_field :region %>
        </p>
        <p>
            <p>Faixa Salario:</p>
                <p>
                    <%= form.label :minimum_wage%>
                    <%= form.text_field :minimum_wage%>
                    <%= form.label :maximum_wage%>
                    <%= form.text_field :maximum_wage%>
                </p>
        </p>
        <p>
            <%= form.label :limit_date %>
            <%= form.date_field :limit_date %>
        </p>
        <p>
            <%= form.submit 'Salvar' %>
        </p>
    <%end%>



</div>