<div class="container">

    <h3><%= @job_vacancy.title%></h3>

    <h4>Descrição da vaga:</h4>
    <p><%= @job_vacancy.vacancy_description%></p>

    <h4>Descrição das habilidades necessarias para a vaga:</h4>
    <p><%= @job_vacancy.ability_description%></p>

    <h4>Nível da vaga:</h4>
    <p><%= I18n.t(@job_vacancy.level, scope: [:enum, :levels])%></p>

    <h4>Região:</h4>
    <p><%= @job_vacancy.region%></p>

    <h4>Faixa salaria:</h4>
    <p>De <%= number_to_currency @job_vacancy.minimum_wage%> ate <%= number_to_currency @job_vacancy.maximum_wage%></p>

    <h4>Data limite para inscrição:</h4>
    <p><%= I18n.localize @job_vacancy.limit_date%></p>

    <h4>Status da vaga:</h4>
    <p><%= I18n.t(@job_vacancy.status, scope: [:enum,:statuses]) %></p>

    <% if current_headhunter.present? %>
        <h4>Candidato(s) que aceitaram a proposta<h4>
        <% @registereds.each do |registered|%>
            <p><%= link_to registered.candidate.name, registered.candidate.profile%></p>
        <% end %>
    <% end %>

    <% if current_candidate.present?%>

        <% if @job_vacancy.verify_candidate_apply_for_vacancy(current_candidate.id) %>
            
            <% if @job_vacancy.verify_status_registered_for_vacancy(current_candidate.id) %>
                <p class="notice alert-success">Você já se encontra inscrito para essa vaga.</p>
            <% else %>
                <p class="notice alert-danger">Vaga encerrada, veja justificativa em "minhas vagas".</p>
            <% end %>
        
        <% else %>

            <%= render 'apply_form', registered: @registered %>

        <%end%>
    
    <% end %>

    <% if current_headhunter.present? %>
        <% if !@job_vacancy.closed? %>
            <%= link_to 'Lista Candidatos', candidate_list_job_vacancy_path , class: "btn btn-primary" %>
        <% end %>
        
        <% if @registereds.present? && @job_vacancy.open? %>
            <%= link_to 'Encerra vaga', closes_job_vacancy_path , method: :post, class: "btn btn-danger" %>
        <% end %>

    <% end %>    

    <%= link_to 'Voltar', :back , class: "btn btn-primary"%>

</div>