<div class="container">
    <h3>Inscrições</h3>

    <div class="row">
        <div class="col-sm-10">
            <table class="table table-striped table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>VAGAS</th>
                        <th>STATUS</th>
                    </tr>
                </thead>
                <tbody>
                    <%if @registereds.empty?%>
                        <tr>
                            <td>Você não possui nenhum inscrição em nenhuma vaga do site</td>
                        </tr>
                    <%else%>
                        <% @registereds.each do |registered|%>
                            <tr>
                                <td>
                                    <%= link_to registered.job_vacancy.heading, registered.job_vacancy%>
                                    <% if registered.in_progress? || registered.proposal? %>
                                        <p><strong>Descrição da vaga:</strong><%= registered.job_vacancy.vacancy_description %></p>
                                    <% elsif registered.reject_proposal? || registered.accept_proposal? %>
                                        <p><strong>Feedback do candidato:</strong><%= registered.proposal.feedback %></p>
                                    <% else %>
                                        <p><strong>Feedback headhunter: </strong><%= registered.closed_feedback %></p>
                                    <% end %>
                                </td>
                                <td>
                                    <% if registered.closed? %>
                                        <strong> <%= I18n.t(registered.status, scope: [:enum,:statuses]) %></strong>
                                    <% elsif registered.proposal?%>
                                        <strong>Proposta recebida !</strong>
                                        <p><%= link_to "Ver proposta", registered.proposal%></p>
                                    <% else %>
                                        <%= I18n.t(registered.status, scope: [:enum,:statuses]) %>
                                    <% end %>
                                </td>
                            </tr>
                        <%end%>
                    <%end%>           
                </tbody>
            </table>
        </div>
    </div>

</div>