<div class="container">

    <h3>Aceitar proposta para a vaga: <strong><%= @job_vacancy.title%></strong></h3>
    <h3><strong>ATENÇÃO! </strong>Data de inicio das atividades: <strong><%= I18n.localize @proposal.start_date%></strong></h3>

    <br>

    <%= form_with model: @proposal, url: save_accept_proposal_path, method: :post do |form|%>

        <div class="row">
            <div class="col-sm-8">
                <div class="form-group">
                    <%= form.label  :feedback%>
                    <p><em>*É opcional enviar um feedback para o headhunter.</em></p>
                    <%= form.text_area :feedback, class:"form-control", rows:4%>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="form-group">
                    <%= label_tag "Confirma data de inicio das atividades ?"%>
                    <%= hidden_field_tag "confirm", "unchecked" %>
                    <%= check_box_tag "confirm", "checked" %>
                </div>
            </div>
        </div>
        <p>
            <%= form.submit 'Enviar', class: "btn btn-success"%>
        </p>
    <%end%>

</div>