<div class="container">

    <div class="row">
        <div class="col-sm-12">
            <h4>VAGA: </h4>
            <div class="col-sm-9">
                <%= link_to @job_vacancy.heading, job_vacancy_path(@job_vacancy)%></p>
                <p><strong>Descrição da vaga:</strong><%= @job_vacancy.vacancy_description%></p>
            </div>
        </div>
    </div>

   
    <div class="row">
        <div class="col-sm-12">
            <h4>CANDIDATO: </h4>
            <div class="col-sm-9">
                <%= link_to @profile.name, profile_path(@profile) %>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <h4>PROPOSTA: </h4>

            <div class="col-sm-9">
                <p>Status: <%= I18n.t(@proposal.status, scope: [:enum, :statuses]) %>

                <p>Data para inicio das atividades: <%= I18n.localize @proposal.start_date%></p>

                <p>Data limite para resposta: <%= I18n.localize @proposal.limit_feedback_date%></p>

                <p>Salário: <%= number_to_currency @proposal.salary%></p>
        
                <p>Benefícios: <%= @proposal.benefits%></p>

                <% if @proposal.note.present? %>
                    <p>Observações: <%= @proposal.note%></p>
                <% end %>
    
        </div>
    </div>

    <div class="row">
        <div class="col-sm-10" style="vertical-align: middle;">
            <% if @proposal.submitted? %>
                <p> Você deseja:</p>
                <%=link_to 'Aceitar proposta', accept_proposal_path , class: "btn btn-primary" %> 
                <%=link_to 'Rejeitar proposta', reject_proposal_path , class: "btn btn-danger" %> 
            <% end %>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-10" style="vertical-align: middle;">
            <p><%=link_to 'Voltar', :back %></p>
        </div>
    </div>
       

</div>