<!DOCTYPE html>
<html>
  <head>
    <title>TreinadevProjetoFinal</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <nav class="navbar">
      <%if current_headhunter.nil? && current_candidate.nil?%>
        <p>
          <%= link_to 'Cadastrar-se como headhunter', new_headhunter_registration_path%> |
          <%= link_to 'Entrar como headhunter', new_headhunter_session_path%>
        </p>  
        <p>
          <%= link_to 'Cadastrar-se como candidato', new_candidate_registration_path%> | 
          <%= link_to 'Entrar como candidato', new_candidate_session_path%> 
        </p>
      <% elsif !current_headhunter.nil? %>
        <p>
          Olá <%= current_headhunter.email%> |
          <%= link_to 'Sair', destroy_headhunter_session_path, method: :delete %>
        </p>
        <p>
          <%= link_to 'Vagas', job_vacancies_path %>
        </p>
      <% else %>
        <p>
          Olá <%= current_candidate.email%> |
          <%= link_to 'Sair', destroy_candidate_session_path, method: :delete %>
        </p>
        <% if @profile.profile_is_complete?%>
          <p>
            <%= link_to 'Perfil', @profile %>
          </p>
        <%end%>
      <%end%>
  </nav>

  <div>
    <% if !notice.nil? %>
      <p class="notice alert-success"><%= notice %></p>
    <% end %>
    <% if !alert.nil? %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
  </div>


  <body>
    </div class="container">
      <%= yield %>
    </div>
  </body>
</html>
