<!DOCTYPE html>
<html>
  <head>
    <title>TreinadevProjetoFinal</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <%= nav_bar do %>
    <% if headhunter_signed_in? %>
      <%= render partial: "layouts/headhunter_navbar", locals: { headhunter: current_headhunter } %>
    <% elsif candidate_signed_in? %>
      <%= render partial: "layouts/candidate_navbar", locals: { candidate: current_candidate } %>
    <% else %>
      <%= render partial: "layouts/navbar"%>
    <% end %>
  <% end %>

  <div>
    <% if !notice.nil? %>
      <p class="alert-success"><%= notice %></p>
    <% end %>
    <% if !alert.nil? %>
      <p class="alert-danger"><%= alert %></p>
    <% end %>
  </div>


  <body>
    </div class="container">
      <%= yield %>
    </div>
  </body>
</html>
