<!DOCTYPE html>
<html>
  <head>
    <title>TreinadevProjetoFinal</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <%= render partial: 'home/navbar', locals: {headhunter: current_headhunter, candidate: current_candidate, profile: @profile}%>

  <div>
    <% if !notice.nil? %>
      <p class="notice alert-success"><%= notice %></p>
    <% end %>
    <% if !alert.nil? %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
  </div>


  <body>
    </div class="container">
      <%= yield %>
    </div>
  </body>
</html>
